.react-datepicker {
    font-family: Arial, sans-serif;
  }
  
  .react-datepicker__header {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .react-datepicker__day {
    color: #000000;
  }
  
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: #ffffff;
  }
  